.displayContainer {
  display: flex;
  margin: 0 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.BarsOutlined {
  margin-right: 20px;
  cursor: pointer;
}

.AppstoreOutlined {
  cursor: pointer;
}

.inactive {
  color: gray;
}
